$font-stack: Verdana, Geneva, Tahoma, sans-serif;

$font-color1: #292b2c;
$font-color2: #ffffff;
$font-color3: #c00c00;
$font-color4: #767676;
$font-color5: #000000;

$bg-color1: #000000;
$bg-color2: #555555;