header
	.logo
		img(src="//satchel.rei.com/media/img/header/rei-co-op-logo-white.svg" alt="REI Einstein Intent Homepage")
	.search
		div
			form(name="search-form")
				input(type="text" name="search" value="" placeholder="Search for great gear & clothing")